
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;
$color-default: #97866f !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 0px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 12px !default;
$font-line-height: 1.4 !default;

